:root {
  --el-color-white: RGBA(22, 35, 70, 1);
  --el-select-input-focus-border-color: none;;
  --el-select-border-color-hover: none;;
  --el-border-color-base: none;;
  --el-border-color-light: none;
  --el-text-color-regular: RGBA(114, 174, 255, 1);
  --el-border-color-hover: none;
  --el-background-color-base: none;
}